notes.txt
jupyter-notebook-installation/.ipynb_checkpoints
modules/pip_venvs
exercises/translator/translator_venv
scripting/scripting_venv
scripting/pokemon_pics
exercises/jpg2png/png_pics
projects/password-security-checker/password-venv
projects/SMS_sending/sms_venv
projects/SMS_sending/.API_Keys
projects/web_scrapping/web_venv
scripting/web_scrapping/web_venv
web_dev/web_dev_venv
