<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>

    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!--Flask Syntax to Reference favicon.ico Files-->
    <link rel="shorcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

    <script src="static/script.js"></script>
</head>
<body>
    I am a Web Master
    Hello {{ name }} You are {{ post_id }} years old
</body>
</html>